
<% content_for :body_class, "section-artists page-artists site-responsive responsive-top-size-1023 responsive-nav-standard responsive-nav-side-position-left analytics-track-all-links page-param-136-anonymous page-param-overview page-param-type-artist_id page-param-type-subsection nopopups" %>
<% content_for :title, "Models | "%>


 <div id="main_content" class="clearwithin">
            <!--contentstart-->

    <div class="exhibition">
        



<div class="subsection-artist-detail-page subsection-wrapper-overview">




        <div class="artist-header heading_wrapper clearwithin">

            
            <div id="h1_wrapper" class="">
                
                <h1 class="has_subnav" data-onclick-url="/artists/136/">
                    <%= @artworks.first.photo_name if @artworks.first%>
                </h1>
            </div>

        

<div id="sub_nav" class="navigation  noprint clearwithin">
    <div class="subnav-reveal-wrapper">
        <div class="subnav_active_indicator"></div>
        <div id="custom_sub_nav_reveal"></div>
    </div>
    <ul>

            
                
                    <li id="sub-item-overview" class="active first scrollto">
                        <a href="#content_module">Overview</a>
                    </li>

    </ul>
</div>
<div id="sub_nav_clear" class="clear"></div>

        


    </div>


    


    <div id="content" class="content_alt clearwithin">
    

    <div class="subsection-works">

    <div class="artworks-slideshow">

            <div class="slick-artworks" style="width:100%; margin: 0; padding: 0;" >
                    
                    <% @artworks.each do |artwork| %>
                             <div class="slick-item" data-caption="<span class=&#34;artist&#34;><strong><%=artwork.global_name.capitalize %></strong></span>, <span class=&#34;title&#34;><em><%= artwork.photo_name %></em></span>, © <%=artwork.global_name.capitalize %> Archive" style="margin:0 16px;">
                            <a href="<%= artwork.image_cloud %>" class="slick_image_popup" data-slick-index="" data-fancybox-title="<div class=&#34;artist&#34;><span class=&#34;artist&#34;><strong><%= artwork.photo_name%></strong></span></div><div class=&#34;copyright&#34;>© <%=artwork.global_name.capitalize%> Archive</div>" data-zoomimage="<%= artwork.image_cloud %>" rel="group">
                                    <img src="/assets/shim.png" class="slideshow-img " data-shop_button="" data-lazy="<%= artwork.image_cloud %>" data-artwork_id="<%=artwork.artwork_id %>" data-artwork_path="artworks_standalone/<%=artwork.artwork_id %>" <% size_image = FastImage.size(artwork.image_cloud) %><% if size_image[0]>size_image[1] %> data-imgwidth="2000" data-imgheight="1398" <% else %> data-imgwidth="1398" data-imgheight="2000" <% end %>alt="<div class=&#34;artist&#34;><span class=&#34;artist&#34;><strong><%=artwork.global_name.capitalize %></strong></span></div>"/>
                            </a>
                                <div class="slideshade"></div>
                        
                           </div>


                    <% end %>

                    
                           
                        
             </div>
     </div>
    </div>


                <div class="inner slick-caption-wrapper">
                    <div class="slick-caption-inner clearwithin">
                        <div class="slick-artwork-caption">
                            <span></span>
                        </div>
                        <div class="slick-artwork-enlarge">
                            <a class="slick_image_popup">Enlarge</a>
                        </div>
                        <div class="artwork-buy-button"><a href="#"></a></div>
                    </div>
                </div>



                

        
           </div>
        </div>
    </div>
</div>




