<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
        <title><%=yield :title%>Ольга Гласкина | ФОТОГРАФ Ростов-на-Дону</title>
        <meta property="og:site_name" content="Ольга Гласкина Galler" />
        <meta property="og:title" content='Услуги профессионального фотографа в Ростове-на-Дону - Свадебный фотограф фотограф на свадьбу свадебная съемка портретная фотосессия съемка сайт портфолио фотографа сколько стоит свадебный фотограф цены фотосъемка свадеб стоимость фотосессии ню в Ростове-на-Дону' />
        <meta property="og:keywords" content='услуги фотографа в Ростове-на-Дону, сайт фотографа, фотограф, фотография, фотосъемка, репортаж, портфолио, свадьба, фотоаппарат, фотографии, корпаратив, съемка корпаративов, съемка объектов, профессиональный фотограф, photo, foto, photography, galery, фотостудия, portfolio, work, фотошоп, photoshop, обработка фотографий, восстановление фотографий, хороший фотограф, фото недорого, фотографии интерьеров, рекламное фото, фото для каталогов, фото для одноклассников, фотостудия, студийная съемка, фото для соцсетей, свадебный фотограф в Ростове-на-Дону цены, фотограф на свадьбу, портретная фотосъемка, портретная съемка, детская фотосессия, фотосъемка новорожденного, мероприятие, фотосъемка мероприятий, свадебный профессиональный фотограф, сколько стоит свадебный фотограф, сайт свадебных фотографов, сайт портфолио фотографа, услуги профессионального фотографа, профессиональный фотограф на свадьбу, фотосессия в минске, стоимость фотосессии в минске, ню профессиональный фотограф' />
        <meta property="og:description" content='Сайт Фотографа Ольга Гласкина - Профессиональный фотограф в Ростове. Услуги профессионального фотографа портфолио в Ростове, качественные фотосессии, сколько стоит свадебный фотограф в Ростове-на-Дону и профессиональный фотограф на свадьбу выезд. Студийная и выездная, свадебная съемка, портретная фотосессия, детская, семейная, рекламная и предметная фотосъемка в Ростове-на-Дону. Свадебный профессиональный фотограф цены. Портфолио. Контакты. Сайт свадебных фотографов. Фотосъемка свадеб в Ростове-на-Дону. Сайт портфолио фотографа. Фотографы минска цены. Стоимость фотосессии в Ростове-на-Дону. Ню профессиональный фотограф.' />

        <meta name="description" content="Сайт Фотографа Ольга Гласкина - Профессиональный фотограф в Ростове-на-Дону. Услуги профессионального фотографа портфолио в Ростове-на-Дону, качественные фотосессии, сколько стоит свадебный фотограф в Ростове-на-Дону и профессиональный фотограф на свадьбу выезд. Студийная и выездная, свадебная съемка, портретная фотосессия, детская, семейная, рекламная и предметная фотосъемка в Ростове-на-Дону. Свадебный профессиональный фотограф цены. Портфолио. Контакты. Сайт свадебных фотографов. Фотосъемка свадеб в Ростове-на-Дону. Сайт портфолио фотографа. Фотографы минска цены. Стоимость фотосессии в Ростове-на-Дону. Ню профессиональный фотограф." />

        <meta name="keywords" content="услуги фотографа в Ростове-на-Дону, сайт фотографа, фотограф, фотография, фотосъемка, репортаж, портфолио, свадьба, фотоаппарат, фотографии, корпаратив, съемка корпаративов, съемка объектов, профессиональный фотограф, photo, foto, photography, galery, фотостудия, portfolio, work, фотошоп, photoshop, обработка фотографий, восстановление фотографий, хороший фотограф, фото недорого, фотографии интерьеров, рекламное фото, фото для каталогов, фото для одноклассников, фотостудия, студийная съемка, фото для соцсетей, свадебный фотограф в Ростове-на-Дону цены, фотограф на свадьбу, портретная фотосъемка, портретная съемка, детская фотосессия, фотосъемка новорожденного, мероприятие, фотосъемка мероприятий, свадебный профессиональный фотограф, сколько стоит свадебный фотограф, сайт свадебных фотографов, сайт портфолио фотографа, услуги профессионального фотографа, профессиональный фотограф на свадьбу, фотосессия в минске, стоимость фотосессии в минске, ню профессиональный фотограф" />
     
        <meta property="og:image:width" content="" />
        <meta property="og:image:height" content="" />
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:description" content="Услуги профессионального фотографа в Ростове-на-Дону - Свадебный фотограф фотограф на свадьбу свадебная съемка портретная фотосессия съемка сайт портфолио фотографа сколько стоит свадебный фотограф цены фотосъемка свадеб стоимость фотосессии ню в Ростове-на-Дону">
        <meta name="title" content="Услуги профессионального фотографа в Ростове-на-Дону - Свадебный фотограф фотограф на свадьбу свадебная съемка портретная фотосессия съемка сайт портфолио фотографа сколько стоит свадебный фотограф цены фотосъемка свадеб стоимость фотосессии ню в Ростове-на-Дону" />
        <meta property="twitter:text:description" content="Услуги профессионального фотографа в Ростове-на-Дону - Свадебный фотограф фотограф на свадьбу свадебная съемка портретная фотосессия съемка сайт портфолио фотографа сколько стоит свадебный фотограф цены фотосъемка свадеб стоимость фотосессии ню в Ростове-на-Дону">
       
        <meta name="google" content="notranslate" />
            
           
                <meta name="viewport" content="width=device-width, minimum-scale=0.5, maximum-scale=1.5, initial-scale=1.0" />
            <link rel="icon" href="/assets/favicon.ico" type="image/x-icon" />
            <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />

            <meta name="application-name" content="Ольга Гласкина Gallery"/>
            <meta name="msapplication-TileColor" content="#ffffff"/>



  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 
</head>
<body class="<%= yield :body_class%>" data-viewport-width="1024">

<div id="container">
        <!-- header begin -->
        <div id="header" class="clearwithin header_fixed">
            <div class="inner">

                <div id="logo" class=""><a href="/">Ольга Гласкина Фотограф</a></div>

                <div id="custom_top_nav_reveal"></div>
                <div id="top_nav" class="navigation noprint clearwithin">
                    
                    <div id="top_nav_reveal" class="hidden"><ul><li><a>Menu</a></li></ul></div>

            <ul class="topnav">
                <% title_name = yield :title %>
                <li><a href="/"> Home</a></li>
                <li <%if title_name.include? "Models" %> class="active" <%end%>><a href="<%=artists_path %>">Models</a></li>
                <li <%if title_name.include? "Projects" %> class="active" <%end%>><a href="<%=project_home_path %>">Projects</a></li>
                <li <%if title_name.include? "About" %> class="active" <%end%> ><a href="<%=about_path %>">About</a></li>
                <li <%if title_name.include? "Contact" %> class="active" <%end%> class="last"><a href="<%= contact_path %>">Contact</a></li>
              </ul>

                    <div class="search-activate closed"><img src="/assets/search_icon.png"/></div>

                        <div id="header_quick_search" class="noprint">
                            <form method="get" action="/search/" id="header_quicksearch_form">
                                <input id="header_quicksearch_field" type="text" class="inputField" data-default-value="Search" value="" name="search" />
                                <a href="javascript:void(0)" id="header_quicksearch_btn" class="link"></a>
                                <input type="submit" class="nojsSubmit" value="Go" style="display: none;" />
                            </form>
                        </div>
                </div>
            </div>
        </div>
        <!-- end header -->


  <%= yield %>


        <!-- footer begin -->
        <div id="footer">
        <div class="inner">
            <div class="footer-left">
                <div class="footer-column">
                    <div id="footer_logo">Ольга Гласкина Фотограф</div>

                    <div id="copyright" class="noprint">
                            &copy; 2016 Ольга Гласкина
                    </div>
                        
                    
                </div>
                <div class="footer-column">
                        <div id="contact_info">
                                <p>3 Немига &bull; Ростов-на-Дону &bull; Беларусь<br />Tel: +375 (29) 937 99 92<br /></p>
                        </div>
                </div>
                <div class="footer-column">
                    <div id="footer_opening_hours">
                            <p>Monday - Friday: 9.30am - 6pm<br />Saturday: 10:30am - 5pm<br />Sunday: Closed</p>
                    </div>
                </div>
                <div class="footer-column">

                    <div class="mailchimp-link">
                        <a href="#mailchimp" class="fancybox"><i style="margin-right:5px;" class="fa fa-envelope"></i>My mail</a>
                      
                    </div>

                        <p><a href="mailto:google@gmail.com">author@gmail.com</a></p>


                </div>
             </div>
            <div class="footer-right">
                <div class="footer-column">
                            <div id="social_links">
                                        <div id="facebook_link" class="social_links_item">
                                            <a href="https://www.facebook.com/" class=""><i class="fa fa-facebook-square"></i></a>
                                        </div>

                                        <div id="twitter_link" class="social_links_item">
                                            <a href="https://twitter.com" class=""><i class="fa fa-twitter"></i></a>
                                        </div>
                                         <div id="vk_link" class="social_links_item">
                                            <a href="https://vk.com" class=""><i class="fa fa-vk"></i></a>
                                        </div>
                                        <div id="instagram_link" class="social_links_item">
                                            <a href="http://instagram.com" class=""><i class="fa fa-instagram"></i></a>
                                        </div>

                                        

                            </div>
                    <div id="artlogic" class="noprint"><a href="http://www.vk.com/vlad.hilko" target="_blank">Site by Vlad Hilko</a></div>
                </div>
            </div>
            <div class="clear"></div>
         </div>
        </div>
    <!-- footer end -->
     <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= yield :head %>
  <%= csrf_meta_tags %>
    <div class="clear"></div>
</div>



</div>

</body>

</html>
